@import "tailwindcss";

/* Plugins */
@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/typography";

/* Import Google Fonts */
/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap"); */

:root {
  --font-poppins: "Poppins", sans-serif;
  --hidden-bar: none;
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: var(--hidden-bar);
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

@layer components {
  .bg-theme-blue {
    @apply bg-blue-500 hover:ring-blue-500;
  }
  .bg-theme-green {
    @apply bg-green-500 hover:ring-green-500;
  }
  .bg-theme-purple {
    @apply bg-purple-500 hover:ring-purple-500;
  }
  .bg-theme-red {
    @apply bg-red-500 hover:ring-red-500;
  }
  .bg-theme-yellow {
    @apply bg-yellow-500 hover:ring-yellow-500;
  }
}

.font-poppins {
  font-family: var(--font-poppins);
}

.truncate-multiline {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
